<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/artist.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/artist/artist.js"></script>

    <title>Artist</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <main>
       <h2>loading...</h2>
    </main>

    <%- include('../partials/footer.ejs') %>
    </body>
</html>