<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>

    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <main>
        <section id="top-section">
            <div id="profile-div">
                <img id="profile-div-pfp" src="https://gratisography.com/wp-content/uploads/2024/11/gratisography-augmented-reality-800x525.jpg" alt="oi">
                <div id="user-info">
                    <h2 id="user-info-name">Cylorun</h2>
                    <p id="user-info-joined">TOday</p>
                    <p id="user-info-followers">0 followers</p>
                </div>
            </div>
        </section>
        <div id="middle-section">
            <section id="recent-tracks">
                <h2>Recent Tracks</h2>
                <ul>

                </ul>
            </section>
            <section id="stats-intro">
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
