<link rel="stylesheet" href="/css/footer.css">
<footer>
    <ul>
        <li>
            <div id="notestats-footer-section">
                <p>notestats</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/start">Get started</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/global">Global stats</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                </ul>
            </div>
        </li>

        <li>
            <div>
                <p>Socials</p>
                <ul>
                    <li><a href="#insta">Instagram</a></li>
                    <li><a href="#yt">Youtube</a></li>
                    <li><a href="#tiktok">Tiktok</a></li>

                </ul>
            </div>
        </li>
    </ul>
    <div id="footer-bottom-section">
        <p>Notestats 2025 &copy;. Made by some guy in iceland.</p>
    </div>
</footer>