<nav>
    <link rel="stylesheet" href="/css/nav.css">
    <ul id="left-side">
        <li><a href="/"><img src="/assets/logo.png" alt="home">Home</a></li>
    </ul>
    <ul id="right-side">
        <% if (loggedIn) {%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% }%>
    </ul>
</nav>
