<nav>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/components.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/nav.js"></script>

    <ul id="left-side">
        <li><a href="/"><img src="/assets/logo.png" alt="home"><b>notestats</b></a></li>
        <li><a href="/premium">Premium</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
    <div id="right-side-wrapper">
        <% if (loggedIn) { %>
            <ul id="right-side">

            </ul>
            <div class="dropdown">
                <div class="dropdown-btn"><a id="profile-link" href="/u/<%= userId %>"></a></div>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="/u/<%= userId %>">You</a></li>
                        <li><a href="/global">Global</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <a class="green-button" id="login-btn" href="/auth/spotify/login">Get started</a>
        <% } %>
    </div>
</nav>
